# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/
test-results.xml

# Azure
*.pubxml
*.publishsettings

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
